.treema-children {
  padding-left: 10px;
}

.treema-toggle {
  padding-right: 5px;
  cursor: pointer;
}

.treema-node {
  background-color: white;
  cursor: pointer;
}

.treema-node:focus {
  border: 2px solid black;
}

.treema-node-selected > .treema-title {
  background-color: #e0e0e0;
}

.treema-node-error > .treema-title {
  background-color: #ffcccc;
}

.treema-node-error.treema-node-selected > .treema-title {
  background-color: #ffaaaa;
}

.treema-node-error > .treema-title > .treema-error-message {
  float: right;
}
