.treema-children {
  padding-left: 10px;
}

.treema-toggle {
  padding-right: 5px;
  cursor: pointer;
}

.treema-node {
  background-color: white;
  cursor: pointer;
}

.treema-node:focus {
  border: 2px solid black;
}

.treema-node-selected {
  background-color: #e0e0e0;
}
